#popup-body {
  width:250px;
  height: 460px;
}

.popup-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-title {
  margin: 0px;
}

.delete-button {
  margin-bottom: 15px;
}

.highlight {
  background-color: #FFFF00;
}